<nav class="navbar">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#"> </a>
    <a class="py-2 d-none d-md-inline-block text-light" href="#">Tour</a>
    <a class="py-2 d-none d-md-inline-block text-light" href="#">Product</a>
    <a class="py-2 d-none d-md-inline-block text-light" href="#">Features</a>
    <a class="py-2 d-none d-md-inline-block text-light" href="#">Enterprise</a>
    <a class="py-2 d-none d-md-inline-block text-light" href="#">Support</a>
    <a class="py-2 d-none d-md-inline-block text-light" href="#">Pricing</a>
    <a class="py-2 d-none d-md-inline-block text-light" href="#">Cart</a>
  </div>
</nav>
