<div class="container-fluid">
  <footer class="pt-4 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img
          class="mb-2 ml-5"
          src="https://http2.mlstatic.com/D_NQ_NP_873671-MLB25795091327_072017-O.jpg"
          alt=""
          width="300"
          height="150"
        />
      </div>
      <div class="col-6 col-md">
        <h5 class="text-light">Userful Links</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-light" href="https://developer.marvel.com/docs"
              >Marvel Api Docs</a
            >
          </li>
          <li>
            <a class="text-light" href="https://help.marvel.com/hc/en-us"
              >Help about Marvel Api</a
            >
          </li>
          <li>
            <a
              class="text-light"
              href="https://developer.marvel.com/documentation/getting_started"
              >Getting Started</a
            >
          </li>
          <li>
            <a class="text-light" href="https://wallpaperaccess.com/"
              >Wallpaper database</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-light">About Me</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-light" href="https://github.com/Emanuelbessa"
              >Github</a
            >
          </li>
          <li>
            <a
              class="text-light"
              href="www.linkedin.com/in/emanuel-estrela-bessa"
              >Linkedin</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-light text-center">
          Desenvolvido por Emanuel Bessa
          <small class="mb-3 text-light">&copy; 2021</small>
        </p>
      </div>
    </div>
  </footer>
</div>
