.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url('../../../../assets/images/28f9ed8961fc8158fca310d178166897.jpg');
  background-size: cover;
  background-position: center center;
}

.text-light {
  font-family: Oswald !important;
}

.bg-dark {
  background-color: black !important;
}
