<main role="main">
  <div class="album py-5 bg-light">
    <form
      class="form-inline mb-3 d-flex justify-content-center"
      (ngSubmit)="searchComics(inputcomic.value)"
      #form="ngForm"
    >
      <input
        class="form-control mr-sm-2 col-6"
        type="text"
        placeholder="Search"
        aria-label="Search"
        #inputcomic
      />
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <div class="container">
      <div class="row">
        <div
          class="col-md-4"
          *ngFor="
            let comic of comics
              | paginate
                : {
                    id: 'server',
                    itemsPerPage: 9,
                    currentPage: p,
                    totalItems: total
                  }
          "
        >
          <div class="card mb-4 box-shadow">
            <div
              class="
                h5
                card-header
                text-center
                bg-black
                text-white
                font-weight-bold
              "
            >
              {{ comic.title }}
            </div>
            <img
              class="card-img-top"
              [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension"
              [alt]="comic.title"
            />
            <div class="card-body">
              <p
                class="card-text"
                *ngIf="comic.description; else messagedescription"
              >
                {{ comic.description | slice: 0:70 }}...
              </p>
              <ng-template #messagedescription>
                <p>
                  Não temos messagem para esse héroi, já pensou em sugerir à
                  Marvel?
                </p>
              </ng-template>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm"
                    [ngClass]="{
                      'btn-warning': comic.favorited,
                      'btn-outline-secondary': !comic.favorited
                    }"
                    (click)="favorite(comic)"
                  >
                    <app-feather-icons [icon]="'star'"></app-feather-icons>
                  </button>
                  <a
                    [routerLink]="['/comics/details/', comic.id]"
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    <app-feather-icons [icon]="'search'"></app-feather-icons>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="has-text-centered text-center">
        <pagination-controls
          id="server"
          class="my-pagination"
          (pageChange)="getPage($event, inputcomic.value)"
          (pageBoundsCorrection)="getPage($event, inputcomic.value)"
          [responsive]="true"
          [autoHide]="true"
          previousLabel="Anterior"
          nextLabel="Próxima"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="Você está em"
        ></pagination-controls>
      </div>
    </div>
  </div>
</main>
